@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --space-color: linear-gradient(135deg, #dc77b4, #c092d4, #7e7d9f);
  --black-bg-blur: rgba(0, 0, 0, 0.8);
  --success-color: #2691d9;
  --error-color: #e74c3c;
  --line-color: #adadad;
  --edge-avatar-color: rgb(23, 92, 138);
  --white-blur: rgba(255, 255, 255, 0.6);
  --white-gray: rgba(255,255,255,0.9);
  --black-gray: rgba(0, 0,0, 0.6);
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow: auto;
  color: black;
}

/* Edit header (contain logo img + navbar) */
header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  z-index: 1;
  position: fixed;
  transition: 0.3s ease;
}

header.scrolled {
  background-color: var(--black-bg-blur);
}

.logo_portfolio {
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-style: oblique;
}

.logo_portfolio img {
  height: 90%;
}

#navbar {
  display: flex;
  gap: 30px;
  position: sticky;
  top: 0;
  z-index: 10;
}

#navbar a {
  text-decoration: none;
  font-size: 20px;
  color: var(--white-blur);
  font-weight: bold;
  transition: 0.3s;
}

#navbar a:hover {
  color: white;
}

/* Start edit main content */
main {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto auto;
}

/* Welcome section contain img bg + welcome */
#welcome-section {
  grid-column: 1 / -1;
}

#bg-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 98vh;
  object-fit: cover;
  z-index: -1;
}

/* Welcome contain greeting + avartar */
.welcome {
  width: 70%;
  height: 70%;
  position: absolute;
  display: grid;
  grid-template-columns: 45% 55%;
  top: 120px;
  left: 15%;
  align-items: center;
}

.greeting {
  width: 100%;
  color: white;
  text-shadow: 2px 2px 4px var(--black-bg-blur);
}

.avartar{
  width: 350px;
  height: 350px;
  border: none;
  outline: none;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  box-shadow:
    0 0 30px rgba(172, 170, 170, 0.9),   /* bright white */
    0 0 60px rgba(93, 85, 155, 0.8),   /* pink */
    0 0 100px rgba(107, 103, 230, 0.7),  /* purple */
    0 0 140px rgba(135, 75, 111, 0.6);
}

/* Edit greeting firtly */
.greeting h1 {
  font-size: 55px;
}

.greeting p{
  margin-top: 25px;
  font-size: 16px;
  color: var(--white-gray);
}

.greeting button {
  padding: 10px 25px;
  border: none;
  outline: none;
  background: var(--space-color);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  transition: 0.5s;
}

.greeting button:hover{
  background: white;
  color: black;
  transform: scale(1.1);
}

.greeting button i {
  font-size: 20px;
  margin-left: 5px;
}

/* Use grid layout for create 3 columns: side content side */
/* Content contains 4 section:
    - Introduction
    - List cards
    - Achievements
    - Projects
    - Contact

*/

#introduction {
  width: 60%;
  padding: 10px;
  margin-top: 40px;
}

#introduction p {
  font-size: 23px;
}

#introduction h1 {
  font-size: 40px;
  text-shadow: 0 2px 2px var(--black-gray);
}

.list_card {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 100px;
}

.card {
  width: 30%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 
  0 2px 4px rgba(0, 0, 0, 0.5),
  0 8px 16px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

.card:hover{
  transform: scale(0.9);
}

.card_logo {
  width: 100px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

#web3_logo {
  width: 200px;
}

#se_logo {
  width: 125px;
  height: 120px;
}

#fullstack_logo {
  width: 130px;
  height: 125px;
}


#achievements {
  border-top: 2px solid black;
  padding-top: 20px;
  margin-bottom: 50px;
}

#achievements h1 {
  font-size: 55px;
}

#achievements p {
  font-size: 23px;
}

.field {
  width: 100%;
  border-radius: 15px;
  border: 2px solid black;
  padding: 10px 15px;
  margin: 20px 0;
}

.certification {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}

.certification i {
  font-size: 30px;
}

.university,
.secondary_school,
#activities p {
  margin-left: 30px;
  margin-top: 10px;
}

.university p:first-child,
.secondary_school p:first-child {
  font-weight: bold;
}

#projects {
  border-top: 2px solid black;
  padding-top: 20px;
}

#projects p {
  font-size: 23px;
}

#projects h1 {
  font-size: 40px;
}

.list_project {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.project-tile {
  width: 500px;
  height: 650px;
  background-color: white;
  border-radius: 15px;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.project-tile h2 a {
  color: rgb(15, 86, 107);
  text-decoration: none;
}

.project_logo {
  margin-top: 10px;
  width: 400px;
  height: 300px;
  border-radius: 15px;
}

#html_css {
  color: orange;
}

#js {
  color: rgb(186, 186, 8);
}

#solidity {
  color: rgb(25, 131, 147);
}

#contact {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 60px 0;
  border-top: 2px solid black;
  padding-top: 50px;
}

.hello_mate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 40px;
}

.container h1 {
  text-align: center;
}

.form-control {
  width: 100%;
  position: relative;
  margin-top: 40px;
}

.form-control input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--line-color);
  font-size: 16px;
}

.form-control span {
  position: absolute;
  border-bottom: 3px solid var(--success-color);
  width: 0%;
  top: 38px;
  left: 0;
  transition: 0.3s;
}

.form-control input:focus ~ span {
  width: 100%;
}

.form-control.error small {
  color: var(--error-color);
}

.form-control.error input {
  border-bottom: 2px solid var(--error-color);
}

.submit-btn {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
  margin: 30px 0 15px;
  background-color: var(--success-color);
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #08609a;
}

.container p {
  text-align: center;
}

.container p a {
  text-decoration: none;
  color: var(--success-color);
}

.container p a:hover {
  text-decoration: underline;
}

#result {
  color: green;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  border-top: 2px solid black;
}

.auth {
  display: flex;
  margin-left: 30px;
  font-size: 18px;
  font-weight: bold;
}

.card_social a {
  color: black;
  font-size: 50px;
  margin: 0 40px;
  transition: 0.25s;
}

.card_social a:hover {
  color: var(--edge-avatar-color);
}

footer p {
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}
